ultralytics>=8.3.0
torch>=2.2.0
torchvision>=0.17.0
torchaudio>=2.2.0
numpy>=1.26.0
pandas>=2.2.0
scikit-learn>=1.4.0
PyYAML>=6.0.1
requests>=2.31.0
tqdm>=4.66.0
matplotlib>=3.8.0
streamlit>=1.36.0
plotly>=5.22.0
reportlab>=4.2.0
streamlit-option-menu>=0.3.13
opencv-python-headless
librosa
numba
llvmlite
soundfile
